<div id="relative" style="background-image: url('<%= asset_path ''%>');">
	<div id="absolute">
		<h3 class="text-center" id="h3" >Find the Best Professions at Weekend Pros</h3>
		<%= search_form_for @q do |f| %>
		<div class="input-group left" style="width: 80%;" >
			<div class="input-group-btn search-panel" >
				<button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"  id="button_left"> <span id="search_concept">Skill</span>  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-item"><a href="#id"><i class="fa fa-angle-double-right" id="double_right" style="" ></i> <span>Teacher</span></a>
					</li>
					<li class="dropdown-item"><a href="#name"><i class="fa fa-angle-double-right" id="double_right"></i> Trainer</a>
					</li>
					<li class="dropdown-item"><a href="#description"><i class="fa fa-angle-double-right" id="double_right"></i> Web Developer</a>
					</li>
					<li class="dropdown-item"><a href="#description"><i class="fa fa-angle-double-right" id="double_right"></i> Web Designer</a>
					</li>
				</ul>
			</div>
			<%= f.search_field :name_cont, class: "form-control", name: "q", placeholder: "Search..",
			id: "search_key" %> 
			<span class="input-group-btn">
				<button class="btn btn-info" type="submit" id="search_key"><i class="fa fa-search" aria-hidden="true"></i>&#xA0;&#xA0;Search&#xA0;&#xA0;</button>
				<%#= f.submit %>
			</span>
		</div>
		<%end%>
	</div>
</div>
<div class="container">
	<div class="row" style="padding-left: 130px; margin: 2%">
		<div class="col-sm-4">
			<div class="round-button">
				<div class="round-button-circle">
					<a href="#" class="round-button a "><span id="bold">200<br>+</span>
					</a>
				</div>
			</div>
			<div id="skills" style="">Skills</div>
		</div>
		<div class="col-sm-4">
			<div class="round-button">
				<div class="round-button-circle">
					<a href="#" class="round-button a"><span id="bold">2000<br>+</span>
					</a>
				</div>
			</div>
			<div id="professionals" style="">Professionals</div>
		</div>
		<div class="col-sm-4">
			<div class="round-button">
				<div class="round-button-circle">
					<a href="#" class="round-button a"><span id="bold">29000<br> +</span>
					</a>
				</div>
			</div>
			<div id="satisfied" style="">Satisfied User</div>
		</div>
	</div>
	<hr>
	<span class="text-center">
		<h4>Want to Earn in Weekend?</h4>
		<h4>Don't Daley? <i>Join is Today.</i></h4>
	</span>
	<%= link_to 'Sign Up', new_user_registration_path, id: 'sign_up', class: 'btn btn-info' %>
	<hr>

	<div class="row">
		<div class="col-sm-3">
			<div class="card" style="max-width: 220px;">
				<div class="card-body">
					<p class="card-text-top" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<button class="btn btn-info btn-block">click</button>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card" style="max-width: 220px;">
				<div class="card-body">
					<p class="card-text-top" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<button class="btn btn-info btn-block">click</button>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card" style="max-width: 220px;">
				<div class="card-body">
					<p class="card-text-top" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<button class="btn btn-info btn-block">click</button>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card" style="max-width: 220px;">
				<div class="card-body">
					<p class="card-text-top" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<button class="btn btn-info btn-block">click</button>
				</div>
			</div>
		</div>
	</div>
</div>